.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 8rem);
  padding: 2rem;
  text-align: center;
}

.not-found-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.not-found-arrow {
  opacity: 50%;
}
