.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.8vh;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19vh;
    height: 5vh;
    border-radius: 1vh;
    font-family: 'Syne', sans-serif;
    font-size: 1.8vh;
    font-weight: 650;
    text-decoration: none;
    color: var(--background);
    cursor: pointer;
    transition: 0.1s;
}

.button.red {
    background-image: url(../assets/gradient.png);
    background-size: 400%;
    background-position-x: 100%;
}

.button.gray {
    background-color: var(--secondary);
    color: var(--primary);
}

.button:hover {
    opacity: 0.75;
    background-color: white;
    color: var(--background);
}

.button.red:hover {
    color: white;
    background-position-x: 150%;
    opacity: 100%;
}

.button.red:active {
    opacity: 0.5;
}

.button:active {
    opacity: 0.25;
}