.bigContainer {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.smallContainer {
    background-image: url(./assets/gradient.png);
    background-repeat: repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding: 0;
    color: white;
}

.smallContainer ::selection {
    color: var(--primary);
    background-color: white;
}

.container {
    display: flex;
    width: 127vh;
    height: calc(100% - 18vh);
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    row-gap: 3.7vh;
}

.section {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.7vh;
}

.section.left {
    align-items: flex-start;
    width: calc(55% - 1.8vh);
}

.section.right {
    align-items: flex-end;
    width: calc(45% - 1.8vh);
}

.section.center {
    align-items: center;
    width: 25%;
}

.section img {
    width: 100%;
    height: auto;
}