.clickable {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3.7vh;
    height: 3.7vh;
    border-radius: 1vh;
    user-select: none;
    transition: 0.025s;
}

.clickable:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.clickable:active {
    background-color: rgba(255, 255, 255, 0.18);
}