@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --primary: #e44b4b;
    --background: #f5f5f5;
}

::selection {
    background-color: var(--primary);
    color: white;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
}

h1 {
    font-size: 7vh;
    color: var(--primary);
    font-weight: 900;
    display: inline-block;
}

.smallContainer h1,
.smallContainer h2,
.smallContainer p {
    color: white;
}

.smallContainer h1,
.smallContainer h2 {
    display: block;
    font-size: 5vh;
}

h2 {
    font-size: 7vh;
    font-weight: 700;
    display: inline-block;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2vh;
    font-weight: 450;
    color: rgba(0, 0, 0, 0.64);
    line-height: 4vh;
}

hr {
    border: 0;
    border-top: 0.2vh solid rgba(255, 255, 255, 0.25);
    width: 100%;
    margin-top: 2vh;
}