@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --primary: #e44b4b;
    --secondary: #121212;
    --background: #0a0a0a;
}

::selection {
    background-color: var(--primary);
    color: white;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Syne', sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.85);
}

h1 {
    font-size: 7vh;
    background-image: url(../assets/gradient.png);
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    display: inline-block;
    animation: backgroundScroll 7s ease-in-out infinite;
}

@keyframes backgroundScroll {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

.smallContainer h1,
.smallContainer h2 {
    display: block;
    font-size: 5vh;
}

h2 {
    font-size: 7vh;
    font-weight: 700;
    display: inline-block;
}

p,
label {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    line-height: 4vh;
}

hr {
    border: 0;
    border-top: 0.2vh solid rgba(255, 255, 255, 0.05);
    width: 100%;
    margin: none;
}

.noise {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url(../assets/noise.png);
    background-repeat: repeat;
    opacity: 65%;
    mix-blend-mode: color-dodge;
}